.product-content
    display: grid
    grid-template-rows: auto 1fr auto
    grid-template-columns: 1fr 2fr
    grid-gap: 39px
    margin-top: 44px
    &__slider
        flex-basis: 34%
    &__details
        flex-basis: 66%
        border: 1px solid #454545
        padding: 53px
        &-articul
            @include font-jost
            font-size: 11px
            font-style: normal
            font-weight: 400
            letter-spacing: 0.11em
            text-align: left
        &-title
            margin-bottom: 13px
            h1
                @include font-jost
                color: #ffffff
                text-transform: uppercase
                font-size: 50px
                font-style: normal
                font-weight: 200
                line-height: 64px
                letter-spacing: 0em
                text-align: left  
        &-buttons
            margin-bottom: 35px    
        &-description
            display: flex
            &_wrapper
                flex-basis: 432px
            &_list
                margin: 0
                padding: 0
                list-style-type: none
                margin-bottom: 33px
                li
                    display: flex
                    justify-content: space-between
                    margin-bottom: 12px
                    @include font-jost
                    font-size: 14px
                    font-style: normal
                    font-weight: 300
                    line-height: 16px
                    letter-spacing: 0em
            .main-btn
                display: flex
                align-items: center
                width: 166px
                img
                    width: 10px
                    height: 16px
                    margin-right: 10px
                    filter: invert(1)
                &:hover
                    img
                        filter: invert(0)
                
            &_text
              flex-basis: 50%  
              p
                @include font-jost
                font-size: 16px
                font-style: normal
                font-weight: 300
                line-height: 23px
                letter-spacing: 0em
                text-align: left

.product-content__details-description > * + *
    margin: 0 0 0 66px

.product-mobile__description
    display: none
    margin-top: 15px
    p
        @include font-jost
        font-size: 16px
        font-style: normal
        font-weight: 300
        line-height: 23px
        letter-spacing: 0em
        text-align: left
        margin-bottom: 0

.related-product
    margin-top: 50px
    margin-bottom: 71px
    &__title
        margin-bottom: 37px
        h2
            @include font-jost
            color: #ffffff
            text-transform: uppercase
            font-size: 50px
            font-style: normal
            font-weight: 200
            line-height: 58px
            letter-spacing: 0em
            text-align: left  
    &__content
        display: grid
        grid-template-columns: repeat(5, 1fr)
        grid-gap: 20px
        &-wrapper
            position: relative
            &_item
                &-img
                    overflow: hidden
                    img
                        width: 100%  
                        transform: scale(1.2)
                        transition: all .5s ease
                &:hover
                    .related-product__content-wrapper_item-img
                        img
                            transform: scale(1)
            &_title
                margin-top: 22px
                a
                    @include font-jost
                    color: #ffffff
                    text-transform: uppercase
                    font-size: 15px
                    font-style: normal
                    font-weight: 400
                    line-height: 22px
                    letter-spacing: 0em
                    text-align: left      
.add-to-favorite
    position: absolute
    z-index: 99
    width: 34px
    height: 34px
    background-color: #1C1C1C
    line-height: 34px
    text-align: center
    border-radius: 50%
    cursor: pointer
    right: 18px
    top: 18px
    &:hover
        .fa-heart
            font-weight: bold
    &.active
        .fa-heart
            font-weight: bold

.check-all__models
    text-align: center
    margin-top: 46px

.slider-flex-container
    display: -webkit-box!important

.slider-flex-container-children-one
    width: 401px
    order: 0
    flex: 0 1 auto
    align-self: center
    margin-left: 8px
.slider-flex-container-children-two
    width: 105px
    height: 188px
    order: 0
    flex: 0 1 auto
    align-self: center

.slider-single
    .slick-prev
        font-size: 0
        width: 28px
        height: 28px
        border: none
        border-radius: 50%
        background-color: rgba(0,0,0, .6)
        position: absolute
        z-index: 9
        left: 27px
        top: 50%
        transform: translate(0, -50%)
        &::before
            content: "\f053"
            font-family: "Font Awesome 5 Free"
            font-weight: 600
            font-size: 10px
            line-height: 1
            color: #ffffff
            top: 34%
            left: 34%
    .slick-next
        font-size: 0
        width: 28px
        height: 28px
        border: none
        border-radius: 50%
        background-color: rgba(0,0,0, .6)
        position: absolute
        right: 27px
        top: 50%
        transform: translate(0, -50%)
        z-index: 9
        &::before
            content: "\f054"
            font-family: "Font Awesome 5 Free"
            font-weight: 600
            font-size: 10px
            line-height: 1
            color: #ffffff
            top: 34%
            left: 34%
    
.slider-nav
    span
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%, -50%)
    .slick-slide
        cursor: pointer
    .slick-slide img
        width: 100%
        height: 193px
        object-fit: cover
    .slick-prev
        font-size: 0
        width: 28px
        height: 28px
        border: none
        background-color: rgba(0,0,0, .6)
        position: absolute
        border-radius: 50%
        z-index: 9
        top: 22px
        left: 50%
        transform: translate(-50%,0)
        &::before
            content: "\f077"
            font-family: "Font Awesome 5 Free"
            font-weight: 600
            font-size: 10px
            line-height: 1
            color: #ffffff
            top: 34%
            left: 34%
    .slick-next
        font-size: 0
        width: 28px
        height: 28px
        border: none
        background-color: rgba(0,0,0, .6)
        position: absolute
        border-radius: 50%
        z-index: 9
        bottom: 22px
        left: 50%
        transform: translate(-50%,0)
        &::before
            content: "\f078"
            font-family: "Font Awesome 5 Free"
            font-weight: 600
            font-size: 10px
            line-height: 1
            color: #ffffff
            top: 34%
            left: 34%

   