@import "libs"
   
@mixin font-jost
    font-family: 'Jost', sans-serif
@mixin font-hari
    font-family: 'Jomolhari', serif

// === common ===    
body
    background-color: #111111  
    color: #ffffff 
    background-repeat: no-repeat

.closed
  display: none

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active
    -webkit-box-shadow: 0 0 0 30px #242424 inset !important
    -webkit-text-fill-color: #ffffff !important
    border-left: none
    border-right: none

.menu-close
    position: absolute
    left: -29px
    width: 30px
    height: 30px
    background-color: #111111
    text-align: center
    img
        width: 18px
        height: 18px
        filter: invert(1)

.horizont-line
    width: 100%
    height: 1px
    background-color: #ffffff

.wrapper
    min-height: 100vh
    display: grid
    grid-template-rows: auto 1fr auto

.social   
    margin: 0
    padding: 0
    list-style-type: none
    position: fixed
    z-index: 9
    right: 0
    top: 25%

.mobile-menu__content
    display: none
    .mobile-menu-flex
        display: flex
        flex-direction: column
        justify-content: space-between
        height: 90%

.single-project__model-item_content-img
    img
        width: 100%
        
.breadcrumbs
    padding-top: 100px
    .kama_breadcrumbs
        a
            @include font-jost
            color: #ffffff
            font-size: 12px
            font-style: normal
            font-weight: 400
            line-height: 17px
            letter-spacing: 0em
        .kb_sep    
            margin-right: 15px
            margin-left: 15px
        .kb_title
            @include font-jost
            color: #ffffff
            font-size: 12px
            font-style: normal
            font-weight: 400
            line-height: 17px
            letter-spacing: 0em
            position: relative
            &::before
                content: ""
                width: 100%
                height: 1px
                position: absolute
                background-color: #fff
                bottom: 2px
            

.section-inner    
    max-width: 1600px
    padding-left: 10px
    padding-right: 10px
    margin: 0 auto

.main-btn
    position: relative
    overflow: hidden
    display: inline-table
    border: 1px solid #fff
    color: #fff
    font-size: 12px
    font-style: normal
    font-weight: 500
    letter-spacing: .1em
    text-transform: uppercase
    padding-right: 20px
    padding-left: 20px
    padding-top: 9px
    padding-bottom: 9px
    text-align: center
    z-index: 99
    &::before
        content: ""
        background: #ffffff
        position: absolute
        transition: all .6s ease
        transform: scaleX(0)
        transition: transform .6s
        transform-origin: bottom left
        left: 0
        right: 0
        top: 0
        bottom: 0
        z-index: -1
    &:hover
        color: #111111
        text-decoration: none
        &::before
            transform: scaleX(1)  
    &.bepartner
        font-size: 10px
        padding-left: 13px
        padding-right: 13px
        padding-top: 8px
        padding-bottom: 8px
    &.change-data
        font-size: 10px
        width: 214px
    &.price-request
        margin-right: 16px
    &.in-footer
        margin-bottom: 25px
    &.mobile-menu__btn
        font-size: 10px
        padding-right: 10px
        padding-left: 10px
        padding-bottom: 6px
        padding-top: 6px

// === common END ===    

// === header ===
.header
    background-color: #111111
.header-mobile
    display: none
.header-top
    display: grid
    grid-template-columns: 600px auto 1fr
    padding-top: 15px
    padding-bottom: 15px
    &__left
        flex-basis: 300px
        &-phone
            @include font-jost

            font-size: 16px
            font-weight: 400
            line-height: 26px
            letter-spacing: 0em
            color: #ffffff 
            margin-right: 20px   
        &-mail
            @include font-jost

            font-size: 16px
            font-weight: 400
            line-height: 26px
            letter-spacing: 0em
            color: #ffffff
            margin-right: 20px 
        &-phone,
        &-mail
            &:hover
                color: #ffffff
            img
                margin-right: 10.81px
    &__slogan
        @include font-jost
        display: flex
        align-items: center
        text-align: center
        font-size: 10px
        font-weight: 400
        line-height: 25px
        letter-spacing: 0.09em
        text-transform: uppercase
    &__right
        display: flex 
        justify-content: flex-end
        position: relative
        &-language
            padding-right: 22px
            padding-top: 3px
            position: relative
            @include font-jost
            color: #fff
            font-size: 16px
            font-style: normal
            font-weight: 400
            line-height: 26px
            letter-spacing: 0
            &::before
                content: ""
                position: absolute
                width: 1px
                height: 24px
                left: -23px
                top: 5px
                background-color:#454545
        &-search
            cursor: pointer
            position: absolute
            right: 110px
            .searchform
                position: relative
                .search-icon
                    position: relative
                    &::before
                        content: ""
                        position: absolute
                        width: 20px
                        height: 20px
                        background-image: url(../images/search-icon.svg)
                        left: -25px
                        top: -17px
                        background-repeat: no-repeat
                    &.active
                        &::before
                            content: ""
                            position: absolute
                            width: 15px
                            height: 15px
                            background-size: contain
                            background-image: url(../images/close-icone.svg)
                            left: -25px
                            top: -17px
                            background-repeat: no-repeat
                            filter: invert(1)
                input
                    outline: 0
                    position: relative
                    width: 0
                    padding: 0
                    border: none
                    background: #000000
                    color: #ffffff
                    border-bottom: 1px solid #ffffff
                    transition: width .3s ease
                    &::placeholder
                        color: #ffffff
                    &.active
                        width: 160px
                

.header-bottom
    position: absolute
    left: 0
    right: 0
    z-index: 99
    background-color: rgba(0,0,0, .3)
    &__content
        height: 76px
        display: flex    
        align-items: center           
        justify-content: space-between
        max-width: 1600px
        padding-left: 15px
        padding-right: 15px
        margin: 0 auto
        &-right
                display: flex
                align-items: center
                &_like
                    a
                        margin-right: 40px
                        color: #ffffff
                        font-size: 17px
                        .fa-heart
                            transition: all .2s ease
                        &:hover
                            .fa-heart
                                transform: scale(1.1)
                &_login
                    position: relative
                    .belogin
                        @include font-jost
                        cursor: pointer
                        color: #ffffff
                        font-size: 16px
                        font-style: normal
                        font-weight: 400
                        line-height: 26px
                        letter-spacing: 0em
                        img
                            margin-left: 9px
                    &::before
                        content: ""
                        position: absolute
                        top: -9px
                        left: -21px
                        height: 40px
                        width: 1px
                        background-color: #454545
    &__nav
        &-list
            display: flex
            margin: 0
            padding: 0
            list-style-type: none
            li
                margin-right: 74px
                &:last-child
                    margin-right: 0
                a
                    @include font-jost
                    position: relative
                    overflow: hidden
                    color: #ffffff
                    text-transform: uppercase
                    font-size: 14px
                    font-style: normal
                    font-weight: 400
                    line-height: 20px
                    letter-spacing: 0.12em
                    &::before
                        content: ""
                        position: absolute
                        width: 100%
                        height: 1px
                        background-color: #dc7d26
                        top: 45px
                        transition: transform .3s ease
                        transform: scaleX(0)
                        transform-origin: bottom left
                    &:hover
                        text-decoration: none
                        &::before
                            transform: scaleX(1)
                    &.active
                        &::before
                            transform: scaleX(1)

                        
    

// === header end ===  


// === welcome ===     

.welcome
    position: relative
    display: flex
    height: 577px
    &-text
        flex-basis: 40%
        background-image: url(../images/screen_bg.jpg)
        background-repeat: no-repeat
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        height: 100%
        &__slogan
            @include font-jost
            position: relative
            font-size: 14px
            font-style: normal
            font-weight: 600
            line-height: 17px
            letter-spacing: 0em
            &::before
                content: ""
                position: absolute
                background-image: url(../images/line.png)
                height: 15px
                width: 100%
                bottom: -22px
                background-repeat: no-repeat
        &__title
            @include font-hari

            font-size: 80px
            font-style: normal
            font-weight: 400
            line-height: 103px
            letter-spacing: 0em
            margin-top: 20px
        &__subtitle    
            @include font-jost
            max-width: 350px
            font-size: 18px
            font-style: normal
            font-weight: 300
            line-height: 20px
            letter-spacing: 0em
    &-video
        position: relative
        flex-basis: 60%
        background-image: url(../images/video_bg.jpg)
        background-repeat: no-repeat
        background-repeat: no-repeat
        background-size: cover
        background-position: center
        .play-btn
            position: absolute
            left: 50%
            transform: translate(-50%, -50%)
            top: 50%
            cursor: pointer
            img
                transition: transform .3s ease
            &:hover
                img
                    transform: scale(1.2)

    .section-inner 
        display: flex  
        align-items: center  
        height: 576px 


// === collection ===

.collection
    margin-top: 74px
    padding-bottom: 90px
    &-title
        @include font-jost

        text-transform: uppercase
        font-size: 50px
        font-style: normal
        font-weight: 100
        line-height: 58px
        letter-spacing: 0em
        margin-bottom: 40px
    &-content__repair
        display: grid
        grid-template-columns: repeat(4, 1fr)
        grid-gap: 20px 
    &-content
        display: grid
        grid-template-columns: repeat(4, 1fr)
        grid-gap: 20px
        &__item
            position: relative
            overflow: hidden
            display: block
            &-img
                img
                    transform: scale(1.2)
                    transition: all .8s ease
                    width: 100%
            &-meta
                display: flex
                align-items: center
                position: absolute
                z-index: 99
                right: 30px
                top: 30px
                .new
                    @include font-jost
                    color: #ffffff
                    text-transform: uppercase
                    font-size: 18px
                    font-style: normal
                    font-weight: 300
                    line-height: 26px
                    letter-spacing: 0em
                .image
                    margin-left: 10px
                &-img
                    width: 100%
            &-overlay
                opacity: 0
                position: absolute
                top: 0
                bottom: 0
                left: 0
                right: 0
                background: rgba(0,0,0, .6)
                transition: all .3s ease
                .look
                    @include font-jost
                    color: #ffffff
                    font-size: 16px
                    font-style: normal
                    font-weight: 400
                    line-height: 23px
                    letter-spacing: 0em
                    left: -250px
                    transition: left .7s ease
                    text-align: left
                    position: absolute
                    bottom: 36px                
            &:hover
                .look
                    left: 32px
                .collection-content__item-img
                    img
                        transform: scale(1)
                .collection-content__item-overlay
                    opacity: 1
            
            &-title
                margin-top: 22px
                .link
                    @include font-jost
                    text-transform: uppercase
                    color: #ffffff
                    font-size: 15px
                    font-style: normal
                    font-weight: 400
                    line-height: 19px
                    letter-spacing: 0em
.all-collections
    text-align: center
    margin-top: 50px
      

// === collection end ===     


// === about ===         
.about
    position: relative
    background-image: url(../images/about_bg.png)
    background-repeat: no-repeat
    background-position: 0 0
    background-size: cover
    padding-bottom: 133px
    padding-top: 59px
    img
        margin-bottom: 48px
    &-content
        width: 850px  
        p
            @include font-jost
            font-size: 18px
            font-style: normal
            font-weight: 300
            line-height: 26px
            letter-spacing: 0em
            text-align: left
    .section-inner
        display: flex
        justify-content: flex-end
    &::before
        content: ""
        position: absolute
        background-image: url(../images/about_line.svg)
        background-repeat: no-repeat
        top: -7%
        left: 0
        right: 0
        bottom: 0
        z-index: 99999

// === about end ===  

.gallery 
     
    &-grid
        position: relative
        width: 83vw
        height: 57vw
        margin: 0 auto
        &__item
            &-content
                @include font-jost
                text-transform: uppercase
                position: absolute
                width: 100%
                text-align: center
                top: 0
                bottom: 0
                font-size: 15px
                font-style: normal
                font-weight: 400
                line-height: 19px
                letter-spacing: 0em
                opacity: 0
                transition: all .3s ease
                &::before
                    content: ""
                    position: absolute
                    top: 0
                    bottom: 0
                    left: 0
                    right: 0
                    background-color: rgba(0,0,0, .6)
                &_title
                    position: absolute
                    left: 50%
                    top: 50%
                    width: 100%
                    transform: translate(-50%, -50%)
            &:hover
                .gallery-grid__item-content
                    opacity: 1
            &:nth-child(1)
                .s-content-block
                    top: 4vw
                    left: 0
                    width: 20vw
                    height: 26vw 
            &:nth-child(2)
                .s-content-block
                    top: 4vw
                    left: 21vw
                    width: 20vw
                    height: 28vw
            &:nth-child(3)
                .s-content-block
                    top: 4vw
                    left: 42vw
                    width: 20vw
                    height: 24vw
            &:nth-child(4)
                .s-content-block
                    top: 4vw
                    left: 63vw
                    width: 20vw
                    height: 22vw
            &:nth-child(5)
                .s-content-block
                    bottom: 0
                    left: 0
                    width: 20vw
                    height: 26vw
            &:nth-child(6)
                .s-content-block
                    bottom: 0
                    left: 21vw
                    width: 20vw
                    height: 24vw
            &:nth-child(7)
                .s-content-block
                    bottom: 0
                    left: 42vw
                    width: 20vw
                    height: 28vw
            &:nth-child(8)
                .s-content-block
                    bottom: 0
                    left: 63vw
                    width: 20vw
                    height: 30vw
.s-content-block
    display: block
    position: absolute
    background-repeat: no-repeat
    background-position: 0 0
    background-size: cover
    cursor: pointer             
                
// === upload  === 

.upload
    padding-top: 70px
    &-content
        background-color: #1A1A1A
        padding-top: 35px
        padding-bottom: 35px
        display: flex
        justify-content: space-around
        align-items: center
        &__description
            @include font-jost

            font-size: 18px
            font-style: normal
            font-weight: 300
            line-height: 26px
            letter-spacing: 0em
            text-align: left
            flex-basis: 71%

// === upload end ===  

@import "collection"
@import "incollection"
@import "projects"
@import "profile"
@import "product"
@import "registration"
@import "about"
@import "filter"

// === footer end ===  
    

.footer
    background-repeat: no-repeat
    background-position: bottom
    .section-inner
        border-top: 1px solid #454545
        padding-top: 74px
        margin-top: 64px
    &-menu
        padding: 0
        margin: 0
        list-style-type: none
        display: flex
        justify-content: center
        li
            margin-right: 74px
            &:last-child
                margin-right: 0
            a
                @include font-jost

                color: #ffffff
                font-size: 14px
                font-style: normal
                font-weight: 400
                line-height: 20px
                letter-spacing: 0.12em
                text-transform: uppercase
    &-meta
        display: flex
        align-items: center
        justify-content: space-between
        margin-top: 43px
        &__mobile-description
            display: none
            ul
                list-style-type: none
                padding: 0
                margin: 0
                font-family: Jost,sans-serif
                font-size: 14px
                font-style: normal
                font-weight: 300
                letter-spacing: 0
        &__contact
            .phone
                font-family: Jost,sans-serif
                font-size: 16px
                font-weight: 400
                line-height: 26px
                letter-spacing: 0
                color: #fff
                margin-right: 22px
                img
                  margin-right: 10.81px  
            .mail
                font-family: Jost,sans-serif
                font-size: 16px
                font-weight: 400
                line-height: 26px
                letter-spacing: 0
                color: #fff
                img
                  margin-right: 10.81px
    &-copiright 
        max-width: 1600px
        padding-right: 15px
        padding-left: 15px
        padding-top: 14px
        padding-bottom: 14px
        display: grid
        grid-template-columns: 1fr 1fr 1fr
        margin: 0 auto
        &__adress
            ul
                list-style-type: none
                padding: 0
                margin: 0
                font-family: Jost,sans-serif
                font-size: 9px
                font-style: normal
                font-weight: 300
                letter-spacing: 0em
        &__content
            font-family: Jost,sans-serif
            text-align: center
            color: #545454
            font-size: 14px
            font-style: normal
            font-weight: 400
            line-height: 20px
            letter-spacing: 0em
            display: flex
            align-items: center
            justify-content: center
        &__privacy
            text-align: right
            display: flex
            align-items: center
            justify-content: flex-end
            .privacy,
            .convention
                font-family: Jost,sans-serif
                color: #ffffff
                font-size: 14px
                font-style: normal
                font-weight: 400
                line-height: 20px
                letter-spacing: 0em
            .convention
                margin-left: 30px  
// === footer ===

@import "responsive"